/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

@mixin trans-all {
  -webkit-transition: all 0.3s ease;                  
     -moz-transition: all 0.3s ease;                 
       -o-transition: all 0.3s ease;   
      -ms-transition: all 0.3s ease;          
          transition: all 0.3s ease;
}

body {
    background-image: url(../img/broken_noise-l.png);
}

#topLogo {
    width: 100%;
    height: 90%;
    background-image: url('../img/mielenpuhaltajat-nb2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    @media #{$medium-only} {
        height: 80%;
        }

    @media #{$small-only} {
        height: 70%;
        }
}

.high400 {
    //min-height: 400px;
}

h1, h2 {
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    
    //@include stroke(3, #D100A2  )
}

h3 {
    color: $yeyellow;
}

.titlebar {
    width: 100px;
    height: 5px;
    margin: 0 auto 30px;
    background-color: $yeyellow;
}

#topmenu {
    background-color: $darklila;
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
  left: auto !important;
  background-color: $darklila !important;
}

.topmenu {
    &:before, &:after {
        background-color: $darklila;
        width: 100%;
    }
}

.stickyMenu, .fixed {
    //min-width:0;
    //width: 100%;
    //max-width: 1000px;
    right: 0;
 

    
    a {
        font-size: 1rem;
    }
}

.sub-nav {
        margin: 0 auto !important;
    width: -webkit-fit-content;
       width: -moz-fit-content;
            width: fit-content;
    
    dd {
        margin: 0 0.5rem;
        
        
    }
    .active a {
        background-color: $yeyellow !important;
    }
    
}

.lippupallot {
    margin: 0 auto !important;
    width: -webkit-fit-content;
       width: -moz-fit-content;
            width: fit-content;
    
    @media #{$small-only} {
        width: 200px;
    }
}

.date-ball {
    
    display: inline-block;
    background-color: #D100A2;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 20px;
    
    text-align: center;
    color: white;
    
    -webkit-box-shadow: 0px 0px 10px 0px rgba(222,111,254,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(222,111,254,0.75);
    box-shadow: 0px 0px 10px 0px rgba(222,111,254,0.75);
    
    @include trans-all;
    
    &:hover {
        @include trans-all;
        color: white;
        background-color: #DE6FFE;
        -webkit-box-shadow: 0px 0px 10px 4px rgba(222,111,254,1);
        -moz-box-shadow: 0px 0px 10px 4px rgba(222,111,254,1);
        box-shadow: 0px 0px 10px 4px rgba(222,111,254,1);
        
        
    }

    .date-day {
        display: block;
        margin-top: 25px;
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 600;

    }
    
    .date-pvm {
        display: block;
        margin-top: 3px;
        font-size: 3rem;
        line-height: 2rem;
        font-weight: 700;
        
    }
    
    .date-loc {
        display: block;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 400;
        
    }
}

#liput {
    
}

.lippu-ball {
    margin: 10px auto 50px;
    background-color: $yeyellow;
    width: 250px;
    height: 250px;

    
    .lippu-tiedot {
        margin: 0 auto;
        width: 200px;
        padding-top: 85px;
        display: block;
        
    
        
        .lippu-item {
            width: 100%;
            display: inline-block;
            text-align: center;
            margin: 0 15px;
            

            
            .lippu-cat {
                display: block;
                font-size: 1.6rem;
                
                @media #{$medium-only} {
                    font-size: 1.3rem;
                }

                @media #{$small-only} {
                    font-size: 1.1rem;
                }
            }
            
            .lippu-price {
                display: block;
                font-size: 2rem;
                font-weight: bold;
                
                @media #{$medium-only} {
                    font-size: 1.8rem;
                }

                @media #{$small-only} {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

#spons {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tekijalista {
    
    li {
        margin-left: 10px;
        color: #eee;
        font-size: 0.95rem;
        
        &.lititle {
            margin: 7px 0;
            left: -15px;
            font-size: 1.2rem !important;
        }
    }
}



.libreak {
    margin: 4px;
}
.liinfo {
        font-size: 0.8rem;
        color: #bbb;
}

.footer {
    background-color: $darklila;
    padding-top: 25px;
    padding-bottom: 25px;
}